:root {
    --font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --color-accent: #a18a68;
    --color-black: #000000;
    --color-black-hover: #222222;
    --color-black-light: #000000;
    --color-dark-gray: #707070;
    --color-gray: #d8d8d8;
    --color-white-light: #ffffff;
}

body {
    font-family: var(--font);
}

h1 {
    text-align: center;
    font-size: 33px;
    font-weight: 500;
    line-height: 43px;
    color: var(--color-black);
}