:root {
    --font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --color-accent: #a18a68;
    --color-black: #000000;
    --color-black-hover: #222222;
    --color-black-light: #000000;
    --color-dark-gray: #707070;
    --color-gray: #d8d8d8;
    --color-white-light: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideDown {
    animation: slideDown 0.2s ease-out;
}
/* Auth Page Transition */
.auth-fade-enter-active,
.auth-fade-leave-active {
  transition: opacity .2s ease, transform .2s ease;
}

.auth-fade-enter-from,
.auth-fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
